<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>松井 敏のresume</title>

  <meta property="og:title" content="松井 敏のresume" />
  <meta property="og:url" content="https://binnmti.github.io/resume/" />
  <meta property="og:description" content="このサイトは松井 敏のresumeです" />
  <meta property="og:image" content="https://binnmti.github.io/resume/images/og-image.jpg" />
  <meta property="og:type" content="website" />
</head>

<body>
  {% include navigation.html %}
  {% include README.md %}
</body>

</html>